@tailwind base;
@tailwind components;
@tailwind utilities;
button.slick-next {
  right: 80px;
  z-index: 10;
}
button.slick-prev {
  left: 20px;
  z-index: 10;
}
button.slick-next::before {
  color: gray;
  content: "\276f";
  display: block;
  width: 45px;
  height: 45px;
  background-color: #ffd3d3;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
button.slick-prev::before {
  color: gray;
  content: "\276E";
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: #ffd3d3;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* From Uiverse.io by satyamchaudharydev */
.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
}

.loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}
